<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Person Loans">
    <classes>
      <class name="TestnG_16.Include_and_Exclude">
      <methods>
		  <exclude name="carLoan"/>
		
	  </methods>
	  </class>
    </classes>
  </test> <!-- Test -->
  <test name="home loan">
	  <classes>
		  <class name="TestnG_16.Home_loan"> 
			  <methods>
				  <include name="H_Loan"></include>
			  </methods>
		  </class>
		  
	  </classes>
  </test>
</suite> 
